# DO NOT BUT YOUR SECRET KEY HERE! THIS FILE IS JUST TO SHOW WHAT YOU ".env" IS SUPPOSED TO LOOK LIKE

# Instead, create a new file called ".env".
# Create a two variable and name it whatever you want.
# Check if .gitignore contains "**/.env"
# Make the variable eqal to your SECRET_KEY and your debug mode.

SECRET_KEY=None
DEBUG=True
